@media(max-width: 850px){
    body{
        height: 100vh;
    }

    body .container{
        display: flex;
        flex-direction: column;
        width: max(350px, min(220px));
    }

    body .advertisement_details__price{
        border-radius: 0;
    }

    body .advertisement_details__description{
        border-radius: 0 0 5px 5px;
    }
}
